<%- include('./fragments/header.ejs')%>
    
    <main>
        <h2>Strona główna</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae unde eius voluptatum non enim mollitia autem eveniet nobis maiores quidem, est ab, odit consectetur dolor hic odio maxime repellat ex.
        Accusamus dignissimos, expedita culpa iusto, quo explicabo non impedit commodi tenetur exercitationem maiores quasi nostrum vitae eos quidem velit, provident nam porro deserunt. Eligendi quis laborum cumque placeat earum nemo?
        Aliquid nobis minima facilis dolorum laborum quibusdam laudantium in dicta nulla esse, unde, quod rerum a fuga sapiente dolore temporibus tempore. Hic explicabo suscipit in voluptas officia illum soluta minus!
        Dignissimos esse illum, odio similique aliquam voluptatibus. Nesciunt, doloribus. Fugit accusantium soluta dolore ullam similique iste maiores! Sequi, accusamus vitae recusandae reiciendis, porro sunt quasi possimus alias officia impedit maiores.
        Rem odio eveniet fugiat facilis earum labore sapiente laborum quas eaque esse ratione provident, molestias obcaecati. Doloremque recusandae, minus fuga soluta sapiente explicabo aperiam perspiciatis quia officiis ipsam illo ullam.
        Repellat quisquam totam consequatur laudantium nam, saepe, quaerat corporis deleniti rerum nulla exercitationem iste voluptatum, perferendis iusto expedita esse quibusdam. Similique vero quibusdam qui sequi quo, id rem a pariatur?
        Animi velit incidunt minus molestiae debitis quia blanditiis natus inventore, neque quaerat? Saepe atque in explicabo quod aspernatur non, est iusto illo cum. Harum beatae illum iusto dolore saepe eum.
        Itaque minus consequatur voluptate recusandae architecto autem ex corrupti optio ut. Vitae iure eum nesciunt qui, distinctio quibusdam, placeat cum excepturi deleniti maiores molestiae sunt soluta similique modi reiciendis veniam.
        Recusandae laudantium vel ipsum ipsa, voluptatem enim nihil delectus rerum aspernatur, consequuntur necessitatibus cum! Ipsam consequuntur deleniti aperiam laudantium minus ab quas atque est adipisci rerum, enim eveniet molestiae qui?
        Nihil aspernatur autem sit nobis rem saepe magnam molestias optio! Placeat necessitatibus commodi expedita, explicabo doloribus officia hic maiores veniam deserunt distinctio facere nobis ipsa suscipit quis obcaecati laudantium quidem.</p>
        
        <h3>Nowości:</h3>
            <p class="newMovies">
                <img src="images/nowosć1.jpg" alt="Mój książe z bajki">  
                <img src="images/nowosć2.jpg" alt="Supernova"> 
                <img src="images/nowosć3.jpg" alt="Narodziny Gwiazdy">
                <img src="images/nowosć4.jpg" alt="Irlandczyk">
            </p>
    </main>

<%- include('./fragments/footer.ejs')%>