*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    ul{
        overflow: hidden;
        list-style-type: none;
    }
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: unset;
    line-height: 1.2;
    color: inherit;
  
  }
  .h1, h1 {
    font-size: 2rem;
  }
  .h2, h2 {
    font-size: 1.5rem;
}

.f-buttons{
    margin-top: 2rem;
}
.m-left{
    margin-left: 2re;
}

