@import 'variables';
body{
    background-color: $backgroundColor;
   font-family: 'Lato', sans-serif ;
    min-width: 360px;
    line-height: normal;
}
header{
   
    background-color: $hedderFooterbackgroundColor;
    margin: 1rem 1rem 0 1rem;
    color: $h1footerTextColor;
    font-weight: bold;
    border-radius: 10px;
    position: relative;
    h1{
        position: absolute;
        top: 0;
        right: 0;
        padding: 1rem;
        margin-bottom: 0;
    }
    .logo{
        height: 150px;
       
    }
}

nav{
    background-color: $navBackGroundColor;
    border-radius: 10px;
    margin: 5px 1rem;
    ul {
        display: flex;
        padding: 0;
        list-style-type: none;
        justify-content: flex-end;
    }
   
     
    a{
        display: inline-block;
        padding: 1rem;
        text-decoration: none;
        color: $textColor;
    }
    a.current{
        background-color: $activeTabBackgroundColor; 
        border-radius: 30px;
        max-height: 50px;
    }
    a:hover{
        background-color: $hoverTabBackgroundColor;
        color: $hoverTabTextColor;
        border-radius: 30px;
        max-height: 50px;
        
    }
}

footer{
    background-color: $hedderFooterbackgroundColor;
    margin: 1rem;
    padding: 1rem;
    color: $h1footerTextColor;
    font-weight: 700;
    overflow: auto;
    border-radius: 10px;
    text-align: center;
}

main{
    margin: 1rem;
    padding: 1.5rem;
    h2{
        margin-bottom: 2rem;
        border-bottom: 1px solid $textColor;
    }
    p{
        margin-bottom: 10px;
    }
    .newMovies{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        img{
            margin-top: 20px;
        }
    }
}

.list{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
    th,td{
        border: 1px solid $textColor;
        text-align: center;
        padding: 0.4rem;
    }
    th{
        background-color: $tableNameColor;
    }
}
.action-list{
    text-align: center;
    li{
        display: inline-block;
        margin: 3px;
        
    }
}

.form {
    display: grid;
    grid-template-columns: 200px 300px 1fr ;
    row-gap: 1rem;
    select,
    input[type="text"],
    input[type="number"],
    input[type="date"],
    input[type="email"],
    input[type="tel"],
    input[type="password"] {
        border: 1px solid $textColor;
        color:$textColor;
        border-radius: 5px;
        padding: 0.5rem;
        width: 100%;
        
    }
    label {
        display: block;
        margin-bottom: 0.5em;
        grid-column: 1/2;
    }
}
