//BG color of page 
$backgroundColor: rgb(197, 197, 191);
$hedderFooterbackgroundColor: rgb(27, 26, 26);
$h1footerTextColor: wheat;
//nav colors
$navBackGroundColor: rgba(158, 132, 99, 0.719);
$textColor: #000;
$activeTabBackgroundColor: rgba(189, 134, 67, 0.993);
$hoverTabBackgroundColor: rgba(175, 104, 16, 0.486);
$hoverTabTextColor: #3e4547;
//table first row color
$tableNameColor: #e8ecdc;
//buttons
//button text colors
$buttonTextColor: rgb(10, 9, 9);
$buttonTextHover: white;
//add & submit
$buttonAddColor: green;
$buttonAddHover: rgb(23, 182, 23);
//details & return
$detailsButtonColor: #3498db;
$detailsButtonHover: #90caf9;
//cancel & delete
$cancelButtonColor: #cf2e1c;
$cancelButtonHover: #e74c3c;
//edit
$editButtonColor: #f1c40f;
$editButtonHover: #ffd54f;
//errors
$errorColor: #e74c3c;